@model IEnumerable<SpeedRacing.Models.Samochod>

@{
    ViewBag.Title = "Lista samochodów";
    Layout = "~/Views/Shared/_SpeedRacingLayout.cshtml";
}

<h2>Lista samochodów</h2>

<table class="table table-hover">
    <tr>
        <th>
            Marka
        </th>
        <th>
            Model
        </th>
        <th>
            Pojemność
        </th>
        <th>
            Typ nadwozia
        </th>
        <th>
            Rodzaj paliwa
        </th>
        <th>
            Rok produkcji
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NrRejestracyjny)
        </th>

        <th>Opcje</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marka.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pojemnosc.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RodzajNadwozia.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RodzajPaliwa.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RokProdukcji.Nazwa)
            </td>
            @Html.Hidden("KlientId", item.KlientId)
            <td>
                @Html.DisplayFor(modelItem => item.NrRejestracyjny)
            </td>
            <td>
                <a href="@Url.Action("EdytujSamochod", new { id = item.SamochodId })" class="btn btn-default" title="Edytuj"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                <a href="@Url.Action("Delete", new { id = item.SamochodId })" class="btn btn-default" title="Usuń"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
            </td>
        </tr>
    }

</table>
